@model IEnumerable<StoreFrontV2.DATA.EF.Models.OrderDetail>

@{
    ViewData["Title"] = "Order Details";
}

<h2 class="title text-center">Order Details</h2>


<div class="row">
    <div class="col-md-8 col-md-offset-2" id="orderDetailContainer">
        <table class="table" id="OrderDetailsTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Customer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShippedCity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShippedState)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShippedCountry)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderDate)
                        </td>
                        <td>
                            <button type="button" class="DetailsLink btn btn-link" id="@item.Customer.CustomerId"
                                data-toggle="modal" data-target="#CustomerDetails">
                                @Html.DisplayFor(modelItem => item.Customer.CustomerId)
                            </button>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShippedCity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShippedState)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShippedCountry)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                            <button type="button" class="DetailsLink btn btn-link" id="@item.OrderId"
                                data-toggle="modal" data-target="#OrderDetails">
                                Details
                             </button> |
                            <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@* Modal for AJAX Details *@
<div class="modal fade" id="OrderDetails" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="orderDetailContainerDetails">
            <div class="modal-header">
                <h5 class="modal-title title text-center" id="exampleModalLabel">Details</h5>
            </div>
            <div class="modal-body" id="DetailsBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CustomerDetails" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="orderDetailContainerDetails">
            <div class="modal-header">
                <h5 class="modal-title title text-center" id="exampleModalLabel">Details</h5>
            </div>
            <div class="modal-body" id="DetailsBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>

        $(document).ready(function () {
            //Update the selector in the function to taget the element with the class of table
            $('.table').DataTable();
        });

        //***** AJAX DETAILS *****//
        $(".DetailsLink").on("click", function (e) {
            let orderId = $(this).attr("id");

            $("#OrderDetails .modal-body").load("/OrderDetails/OrderDetails/" + orderId);
        });

        $(".DetailsLink").on("click", function (e) {
            let customerId = $(this).attr("id");

            $("#CustomerDetails .modal-body").load("/Customers/CustomerDetails/" + customerId);
        });

    </script>

}

