@*@model IEnumerable<StoreFrontV2.DATA.EF.Models.Product>*@

@model IPagedList<StoreFrontV2.DATA.EF.Models.Product>
@using X.PagedList.Mvc.Core;
@using X.PagedList;

@{
    ViewData["Title"] = "Tiled Products";
}

@*<h1>TiledProducts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>*@



<p class="text-center" align="center">

                @if (User.IsInRole("Admin"))
                {
                <a asp-action="Create" class="btn btn-primary">Add Product</a>
                    
                }

                <a asp-action="Index" class="btn btn-primary">Table View</a>

            </p>
<section>
    <div class="container">
        <div class="row">

				



                <div class="col-sm-3">
					<div class="left-sidebar">
					<div class="panel">
						<form asp-action="TiledProducts" method="get">

							@*
							Categories Filter Dropdown
							*@
							@*<label for="CategoryId" class="control-label d-block text-center">Filter by Category</label>
							<select name="categoryId" class="form-control text-center mb-3" asp-items="ViewBag.CategoryId">
							<option value="0">[Choose a Category]</option>
							</select>*@

							@*
							Inputs for search
							*@
							<div>
								<input type="text" name="searchTerm" class="form-control w-100 text-center" placeholder="Search" />
								<input type="submit" value="Go" class="btn btn-primary text-center w-50 d-block" />
							</div>
						</form>

						@if (ViewBag.NbrResults != null)
						{
							<p class="mt-5 p-2 alert-warning text-center">
								Showing @ViewBag.NbrResults result@(ViewBag.NbrResults > 1 ? "s" : "") for '@ViewBag.SearchTerm'
							</p>
						}


					</div>
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#dog">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Dog/Puppy
										</a>
									</h4>
								</div>
								<div id="dog" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="">Food </a></li>
											<li><a href="">Treat </a></li>
											<li><a href="">Toys </a></li>
											<li><a href="">Supplies</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#cat">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Cat/Kitten
										</a>
									</h4>
								</div>
								<div id="cat" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
										<li><a href="">Food </a></li>
										<li><a href="">Treat </a></li>
										<li><a href="">Toys </a></li>
										<li><a href="">Supplies</a></li>
										</ul>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#fish">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Fish
										</a>
									</h4>
								</div>
								<div id="fish" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="">Food</a></li>
											<li><a href="">Supplies</a></li>
										</ul>
									</div>
								</div>
							</div>


							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#lizard">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Reptile
										</a>
									</h4>
								</div>
								<div id="lizard" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="">Food</a></li>
											<li><a href="">Supplies</a></li>
										</ul>
									</div>
								</div>
							</div>

						</div><!--/category-productsr-->

						<div class="price-range"><!--price-range-->
							<h2>Price Range</h2>
							<div class="well">
								 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
								 <b>$ 0</b> <b class="pull-right">$ 600</b>
							</div>
						</div><!--/price-range-->
					</div>
				</div>






			





            <!--Products section-->
            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <h2 class="title text-center">Our Products</h2>
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
										<!--TODO add back item.ProductImage when get all pictures. current is a placeholder-->
                                        <img src="~/images/@item.ProductImage" alt="@item.ProductDescription" />
                                        <h2>@Html.DisplayFor(modelItem => item.ProductPrice)</h2>
                                        <p>@item.ProductName</p>
                                        <a asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@item.ProductId" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
											<h2>@Html.DisplayFor(modelItem => item.ProductPrice)</h2>
                                            <p>@item.ProductName</p>
                                            <a asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@item.ProductId" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                            <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-default add-to-cart">Details</a>
                                        </div>
                                    </div>
                                </div>
                               @* <div class="choose">
                                    <ul class="nav nav-pills nav-justified">
                                        <li><a href="javascript:void(0)"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                                    </ul>
                                </div>*@
                            </div>
                        </div>

                    }

                </div>
            </div>

			

        </div>
    </div>
	<div class="row mt-5 text-center">
		<div class="w-50 mx-auto">
			Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
		</div>
		<div class="w-100">
			@Html.PagedListPager(
			Model,
			page => Url.Action("TiledProducts",
			new { page, searchTerm = ViewBag.SearchTerm, categoryId = ViewBag.Category })
			)
		</div>
	</div>
</section>






















