@model IEnumerable<StoreFrontV2.DATA.EF.Models.Product>

@{
    ViewData["Title"] = "Tiled Products";
}

@*<h1>TiledProducts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>*@



<p class="text-center" align="center">

                @if (User.IsInRole("Admin"))
                {
                <a asp-action="Create">Add Product</a>
                    
                }

                <a asp-action="Index" as>Table View</a>

            </p>
<section>
    <div class="container">
        <div class="row">
                <div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#dog">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Dog/Puppy
										</a>
									</h4>
								</div>
								<div id="dog" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="">Food </a></li>
											<li><a href="">Treat </a></li>
											<li><a href="">Toys </a></li>
											<li><a href="">Supplies</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#cat">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Cat/Kitten
										</a>
									</h4>
								</div>
								<div id="cat" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
										<li><a href="">Food </a></li>
										<li><a href="">Treat </a></li>
										<li><a href="">Toys </a></li>
										<li><a href="">Supplies</a></li>
										</ul>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#fish">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Fish
										</a>
									</h4>
								</div>
								<div id="fish" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="">Food</a></li>
											<li><a href="">Supplies</a></li>
										</ul>
									</div>
								</div>
							</div>


							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#lizard">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Lizard
										</a>
									</h4>
								</div>
								<div id="lizard" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="">Food</a></li>
											<li><a href="">Supplies</a></li>
										</ul>
									</div>
								</div>
							</div>

						</div><!--/category-productsr-->

						<div class="price-range"><!--price-range-->
							<h2>Price Range</h2>
							<div class="well">
								 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
								 <b>$ 0</b> <b class="pull-right">$ 600</b>
							</div>
						</div><!--/price-range-->
					</div>
				</div>

            <!--Products section-->
            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <h2 class="title text-center">Our Products</h2>
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
										<!--TODO add back item.ProductImage when get all pictures. current is a placeholder-->
                                        <img src="~/images/okeykat-w6elADh_jww-unsplash.jpg" alt="@item.ProductDescription" />
                                        <h2>@Html.DisplayFor(modelItem => item.ProductPrice)</h2>
                                        <p>@item.ProductName</p>
                                        <a class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
											<h2>@Html.DisplayFor(modelItem => item.ProductPrice)</h2>
                                            <p>@item.ProductName</p>
                                            <a href="javascript:void(0)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                            <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-default add-to-cart">Details</a>
                                        </div>
                                    </div>
                                </div>
                               @* <div class="choose">
                                    <ul class="nav nav-pills nav-justified">
                                        <li><a href="javascript:void(0)"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                                    </ul>
                                </div>*@
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>
</section>























@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtyInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtyOnOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtyInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtyOnOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.City)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
