@model StoreFrontV2.DATA.EF.Models.Category

@{
    ViewData["Title"] = Model.CategoryName + " Details";
}

<h2 class="title text-center">@ViewData["Title"]</h2>

<div class="row">
    
    <dl class="col-md-9 col-md-offset-4">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryDescription)
        </dd>
        <dd>
            <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.CategoryId">Edit</a>
            <a asp-action="Index" class="btn btn-success">Back to Categories</a>
        </dd>
    </dl>
</div>

